<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manjusaka-博客频道</title>
    <link rel="shortcut icon" href="{:IMG_URL}blog.png"/>
    <link rel="stylesheet" type="text/css" href="{:CSS_URL}commentdaily.css">
    <link rel="stylesheet" type="text/css" href="{:CSS_URL}header.css">
    <link rel="stylesheet" type="text/css" href="{:CSS_URL}footer.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/bs/css/bootstrap.min.css">
    <script type="text/javascript" src="__PUBLIC__/bs/js/jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/bs/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{:JS_URL}commentdaily.js"></script>
    <script type="text/javascript" src="__PUBLIC__/bs/js/datetimepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/bs/css/datetimepicker.min.css">
</head>
<body>
    <include file="Public/header" />
    <div class="body">
        <div class="container content">
            <div class="row nav">
                <ul class="pull-left">
                <if condition="I('get.id')">
                    <li class="pull-left"><a href="__ROOT__/Home/index/index/mode/simple/id/{:I('get.id')}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list"></span>&nbsp;目录视图</a></li>
                    <li class="pull-left"><a href="__ROOT__/Home/index/index/mode/more/id/{:I('get.id')}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;摘要视图</a></li>
                <else />
                    <li class="pull-left"><a href="__ROOT__/Home/index/index/mode/simple" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list"></span>&nbsp;目录视图</a></li>
                    <li class="pull-left"><a href="__ROOT__/Home/index/index/mode/more" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;摘要视图</a></li>
                </if>
                <if condition="session('login')===1">
                    <li class="pull-left"><a href="__ROOT__/Home/CommentDaily/readdaily" class="btn btn-default btn-sm daily"><span class="glyphicon glyphicon-tasks"></span>&nbsp;日常事务</a></li>
                    <li class="pull-left"><a href="__ROOT__/Home/Manger/manger" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-book"></span>&nbsp;管理博客</a></li>
                    <li class="pull-left"><a href="__ROOT__/Home/Manger/newarticle" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span>&nbsp;写新文章</a></li>
                </if>
                    <li class="pull-left"><a href="__ROOT__/Home/CommentDaily/readcomment" class="btn btn-default btn-sm comment"><span class="glyphicon glyphicon-pushpin"></span>&nbsp;留言板</a></li>
                </ul>
            </div>
            <div class="row">
                <div class="left">
                    <div class="image text-center">
                        <img src="{:IMG_URL}logo.jpg" title="头像" style="width:100px">
                    </div>
                    <div class="bg"></div>
                    <div id="datetimepicker"></div>
                </div>
                <div class="right">
                    <div class="list">
                        <div class="form-group">
                            <textarea name="content" rows="2" placeholder="请输入留言内容" class="form-control m_content"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary readdaily">发送</button>
                        </div>
                        <div class="content_list">
                            <foreach name="dailyList" item="v">
                                <div class="d_list">
                                    <div class="d_content">{$v.content}</div>
                                    <div class="pull-right del"><a href="javascript:;" class="del{$v.m_id}">删除</a></div>
                                    <div class="pull-right">{:date("Y-m-d H:i:s",$v['s_time'])}</div>
                                </div>
                            </foreach>
                            <div class="text-center">{$page}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <include file="Public/footer" />
</body>
<script type="text/javascript">
$(".del a").click(function(e){
    var id=$(e.target).attr("class").substring(3);
    if(confirm("确定要删除此数据吗？")){
        $.post('__ROOT__/Home/CommentDaily/del', {id: id}, function(data) {
            if(data===true){
                $(e.target).parents(".d_list").remove();        //删除该组数据
            }else{
                alert(data);
            }
        });
    }
});
</script>
</html>